.container {
  margin-left: 15px;
  margin-right: 15px;
}
.employess_page {
  display: flex;
  width: 100%;
}
.employes {
  width: 65%;
}
.letter_block {
  max-width: 33%;
  margin: 15px;
}
.alphabet {
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid black;
}
.employee_card {
  display: flex;
  justify-content: space-between;
  width: 170px;
}
.employees_birth {
  width: 40%;
}
h2 {
  font-size: 26px;
  padding-bottom: 20px;
}
.employee_heading {
  margin-left: 150px;
}
.employees_birth__heading {
  text-align: center;
  border-bottom: 1px solid black;
}
.month_card {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.month_name {
  font-weight: bold;
  text-align: start;
}
ul {
  padding: 0;
  padding-left: 20px;
}

a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  display: block;
  width: 300px;
  margin: 30px;
  border: 1px solid #3d4d69;
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  background-color: #415a72;
  cursor: pointer;
}
a::after {
  content: "";
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
a:hover {
  color: red;
}

.employess_page {
  display: flex;
}

.employes {
  width: 65%;
}
.employees_birth {
  width: 50%;
}
.alphabet {
  display: flex;
  flex-wrap: wrap;

  border-right: 1px solid black;
}
.letter_block {
  width: 30%;
  margin: 15px;
}
.eployee_card {
  display: flex;
  justify-content: space-between;
  width: 170px;
}
